@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-screen {
  @apply mx-auto max-w-screen-xl px-4 md:px-8;
}

main {
  background: radial-gradient(circle at center, #ffffff, #d5ecfb);
}
nav {
  background: rgba(
    255,
    255,
    255,
    0.15
  ); /* Increased opacity for better glass effect */
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* More pronounced shadow for depth */
  backdrop-filter: blur(10px); /* Increased blur for more glassiness */
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light border to enhance glass look */
}
